/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

* {
  font-family: comic-sans;
} */

body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
  width: 400px; /* Ajustado el ancho para que coincida con el ancho del sobre */
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #fe3334;
  border-bottom: 100px solid transparent;

  /*  */
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.5rem;
  line-height: 2rem;
  right: 0; /* Ajustado para que el texto esté completamente dentro del sobre */
  bottom: 0; /* Ajustado para que el texto esté completamente dentro del sobre */
  z-index: -1;
  background: white;
  width: calc(100% - 2 * 200px); /* Ajustado el ancho para que el texto esté dentro del sobre */
  height: auto; /* Cambiado a auto para que la altura sea dinámica */
  max-height: calc(100vh - 200px); /* Limita la altura para que no desborde la ventana */
  max-width: calc(100% - 2 * 200px); /* Ajustado el ancho máximo */
  overflow-y: scroll; /* Cambiado a scroll para que siempre aparezca la barra de desplazamiento */
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */

  transition: all .75s;
}

.paper.open {
  height: auto; /* Cambiado a auto para que la altura sea dinámica */
  max-height: calc(100vh - 200px); /* Limita la altura para que no desborde la ventana */
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 200px solid #ff989e;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff858a;
}

.options {
  display: flex;
  gap: 5rem;

  & button {
    color: #ff3234;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;
  }

  & button:hover {
    background: #ff989e;
    color: white;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 100%; /* Cambiado para que la carta esté completamente dentro del sobre */
  }
  100% {
    top: -100%; /* Ajustado para extender el fondo blanco hacia arriba */
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}


.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;

  color: #fe3334;

  animation: crecer 1s forwards ;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;

  }
}
